body {
    /*font-family: 'Segoe UI';*/
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

h1 {
    text-align: center;
}
/*#conteudoNavbarSuportado {
    text-align: center;
    justify-content: center!important;

}*/
nav {
    /*font-weight:bold;*/
}
